<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render(
    {
      // Configure environment
      env: "sandbox",
      client: {
        sandbox:
          "AUwffmEqTvZfFZzpxSyD0Lr7GCLxyTxppff6tGv9m2WdNh8VK3o1YZ4HwkTA54iPzOqIO0Cpy1GtdiwS",
        production: "demo_production_client_id"
      },
      // Customize button (optional)
      locale: "en_US",
      style: {
        size: "small",
        color: "gold",
        shape: "pill"
      },
      // Set up a payment
      payment: function (data, actions) {
        // 2. Make a request to your server
        return actions.request.post('/create-payment')
          .then(function (res) {
            // 3. Return res.id from the response
            return res.id;
          });
      },
      // Execute the payment:
      // 1. Add an onAuthorize callback
      onAuthorize: function (data, actions) {
        // 2. Make a request to your server
        return actions.request.post('/execute-payment', {
          paymentID: data.paymentID,
          payerID: data.payerID
        })
          .then(function (res) {
            // 3. Show the buyer a confirmation message.
          });
      }
    }, '#paypal-button');
</script>