<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PayPal Node App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js" async></script>
    <script>
        window.paypalCheckoutReady = function () {
            paypal.checkout.setup('C6HA8JE6CVFTE', {
                environment: 'sandbox',
                container: 'myContainer'
            });
        };
    </script>
</head>

<body>
    <h1>Boston Red Sox Hat</h1>
    <h2>Buy for $25</h2>
    <!--
        <form action="/pay" method="post">
        <input type="submit" value="Buy">
    	</form>
    -->
    <form id="myContainer" method="post" action="/pay"></form>

</body>

</html>